body {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--primary3);
  color: var(--primary1);
}

a{
  text-decoration: none;
  color: var(--primary1);
  font-size: 1.25rem;
  font-family: 'Montserrat';

}

a:hover{
  color: var(--primary2);
  border-radius: 0.0625rem;
  transition: 0.3s;
}

.title{
  border-bottom: 0.125rem solid;
  border-image: linear-gradient(to right,var(--primary2),var(--primary3)) 1;
  border-radius: 0.0625rem;

}

.container{
  margin: 2rem 8rem;
}

.menu{
  padding-top: 1rem;
  position: fixed;
  border-bottom: 0.0625rem solid;
  border-color: var(--primary2);
  border-radius: 0.0625rem;
  width: 100%;
  background: var(--primary3);
  padding-bottom: 1rem;
}

.menu.rolling{
  box-shadow: 0 0 1rem var(--primary2);
}

.menuItems{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menuLink{
  padding: 0.5rem;
}

#home{
  padding-top: 7rem;
}

.zone{  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  flex-wrap: wrap;
  padding-top: 5rem;
}

.textContent{
  color: var(--primary2);
  align-self: flex-start;
}

.name{
  margin-top: 0.25rem;
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

.halfLeft, .halfRight{
  width: 40%;
}

.halfLeft{
  margin-right: 10%;
  text-align: end;
}

.halfRight{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  margin-left: 10%;
}

.paragraphs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.language{
  width: 30%;
  max-width: 8.3125rem;
}


.scroll{
  flex-direction: column;
  font-family: 'Open Sans';
  font-size: 1.25rem;
}

#scroll{
  align-self: center;
}

.verticalLine{
  margin-top: 2rem;
  height: 18rem;
  width: 0;
  border-right: 0.125rem solid;
  border-color: var(--primary2);
  border-radius: 0.0625rem;
}

.title{
  display: block;
  font-size: 1.25rem;
  width: 100%;
  margin-bottom: 2rem;
}

.photo{
  width: 20rem;
  border-radius: 10rem;
}

.download{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 3rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: var(--primary2);
  color: var(--primary3);
  padding: 1rem 2rem;
}

a:hover{
  color: var(--primary3);
  background-color: var(--primary1);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.grid{
  display: grid;
  grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
  grid-template-rows: 25% 25% 25% 25%;
  height: fit-content;
  gap: 4rem 2rem;
}

.cellImg{
  display: flex;
  justify-content: center;
}

.imgLink:hover{
  background-color: var(--primary3);
}

.img{
  height: 25rem;
  border-radius: 0.5rem;
}

.projectName{
  color: var(--primary1);
  font-family: 'Montserrat';
  font-size: 1.25rem;
}

#imgHolder1{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
}


#text1{
  grid-column: 2/2;
  grid-row: 1/2;
}

#imgHolder2{
  grid-column: 2/2;
  grid-row: 2/3;
  width: 100%;
}

#text2{
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: end;
}

#imgHolder3{
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
}

#text3{
  grid-column: 2/2;
  grid-row: 3/4;
}

#imgHolder4{
  grid-column: 2/2;
  grid-row: 4/4;
  width: 100%;
}

#text4{
  grid-column: 1/2;
  grid-row: 4/4;
  text-align: end;
}

#contact{
  padding-top: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mail{
  font-size: 4rem;
}

.footer{
  justify-content: space-between;
  padding: 4rem 4rem 0 4rem;
}

.createdBy{
  font-size: 0.75rem;
  align-self: center;
}

.social{
  display: flex;
  justify-content: center;
  align-items: center;

}

.socialIcon{
  background-color: var(--primary3);
  margin-top: 0;
  margin-bottom: 2rem;
}

.iconColor{
  filter: invert(93%) sepia(16%) saturate(125%) hue-rotate(354deg) brightness(94%) contrast(90%);
}

.socialIcon:hover .iconColor{ /*Quando o elemento pai (.socialIcon) for hovered, o filho (.iconColor) muda de cor*/
  filter: invert(10%) sepia(64%) saturate(2578%) hue-rotate(152deg) brightness(100%) contrast(103%);
}